<% content_for :title do %>
  Login
<% end %>

<% content_for :content do %>
<form>
  <div class="input-group">
    <input type="text" placeholder="email">
    <input type="text" placeholder="password">
  </div>
  <br />
  <div class="input-group">
    <button class="btn btn-positive btn-block">Choose existing</button>
  </div>
</form>
<% end %>